.sparkline{
    width:100%;
    margin: auto;
    padding:4em;
    border: 2px dotted RGBA(255,255,255,0.3);
    background-color: #3e1576;
}

.sparkline__container{
}

.sparkline__line{

    margin:auto;
    width:80px
}

.slide-top {
    transition: clip-path 1s;
}


