.list{

    &__title{

        font-size: 1.2em;
        color:#44197d;
    }

    &__container{
        background-color: rgb(255, 255, 255);
        margin: 5em;
        border-radius: 20px;;
    }

    &__logo{

    }

    &__rank{


    }

    &__name{


    }

    &__symbol{


    }

    &__price{


    }
}